apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: tekton-pipelines

helmCharts:
  - name: tekton-pipeline
    repo: https://cdfoundation.github.io/tekton-helm-chart/
    version: 1.6.1
    releaseName: tekton-pipeline
    namespace: tekton-pipelines
    valuesFile: values.yaml
    includeCRDs: true

images:
  # Using exact names including digest-suffix from chart v1.6.1 for reliable replacement
  - name: ghcr.io/tektoncd/pipeline/controller-10a3e32792f33651396d02b6855a6e36
    newName: harbor.devportal.es/confidential/tekton
    newTag: v1.6.0
  - name: ghcr.io/tektoncd/pipeline/webhook-d4749e605405422fd87700164e31b2d1
    newName: harbor.devportal.es/confidential/tekton
    newTag: v1.6.0
  - name: ghcr.io/tektoncd/pipeline/entrypoint-bff0a22da108bc2f16c818c97641a296
    newName: harbor.devportal.es/confidential/tekton
    newTag: v1.6.0
  - name: ghcr.io/tektoncd/pipeline/nop-8eac7c133edad5df719dc37b36b62482
    newName: harbor.devportal.es/confidential/tekton
    newTag: v1.6.0
  - name: ghcr.io/tektoncd/pipeline/resolvers-ff86b24f130c42b88983d3c13993056d
    newName: harbor.devportal.es/confidential/tekton
    newTag: v1.6.0
  - name: ghcr.io/tektoncd/pipeline/events-a9042f7efb0cbade2a868a1ee5ddd52c
    newName: harbor.devportal.es/confidential/tekton
    newTag: v1.6.0
  - name: ghcr.io/tektoncd/pipeline/workingdirinit-0c558922ec6a1b739e550e349f2d5fc1
    newName: harbor.devportal.es/confidential/tekton
    newTag: v1.6.0
  - name: ghcr.io/tektoncd/pipeline/sidecarlogresults-7501c6a20d741631510a448b48ab098f
    newName: harbor.devportal.es/confidential/tekton
    newTag: v1.6.0

patches:
  - target:
      kind: Deployment
      labelSelector: app.kubernetes.io/name=controller
      namespace: tekton-pipelines
    patch: |-
      apiVersion: apps/v1
      kind: Deployment
      metadata:
        name: tekton-pipelines-controller
        namespace: tekton-pipelines
      spec:
        template:
          spec:
            containers:
              - name: tekton-pipelines-controller
                args:
                  - -entrypoint-image
                  - harbor.devportal.es/confidential/tekton:v1.6.0
                  - -nop-image
                  - harbor.devportal.es/confidential/tekton:v1.6.0
                  - -sidecarlogresults-image
                  - harbor.devportal.es/confidential/tekton:v1.6.0
                  - -workingdirinit-image
                  - harbor.devportal.es/confidential/tekton:v1.6.0
                  - -shell-image
                  - cgr.dev/chainguard/busybox@sha256:19f02276bf8dbdd62f069b922f10c65262cc34b710eea26ff928129a736be791
                  - -shell-image-win
                  - mcr.microsoft.com/powershell:nanoserver@sha256:b6d5ff841b78bdf2dfed7550000fd4f3437385b8fa686ec0f010be24777654d6
  - target:
      kind: Deployment
      name: tekton-pipelines-webhook
      namespace: tekton-pipelines
    patch: |-
      - op: replace
        path: /spec/template/spec/containers/0/args
        value:
          - -entrypoint-image
          - harbor.devportal.es/confidential/tekton:v1.6.0
          - -nop-image
          - harbor.devportal.es/confidential/tekton:v1.6.0
          - -sidecarlogresults-image
          - harbor.devportal.es/confidential/tekton:v1.6.0
          - -workingdirinit-image
          - harbor.devportal.es/confidential/tekton:v1.6.0
          - -shell-image
          - cgr.dev/chainguard/busybox@sha256:19f02276bf8dbdd62f069b922f10c65262cc34b710eea26ff928129a736be791
          - -shell-image-win
          - mcr.microsoft.com/powershell:nanoserver@sha256:b6d5ff841b78bdf2dfed7550000fd4f3437385b8fa686ec0f010be24777654d6
  - target:
      kind: Deployment
      name: tekton-events-controller
      namespace: tekton-pipelines
    patch: |-
      - op: replace
        path: /spec/template/spec/containers/0/args
        value:
          - -entrypoint-image
          - harbor.devportal.es/confidential/tekton:v1.6.0
          - -nop-image
          - harbor.devportal.es/confidential/tekton:v1.6.0
          - -sidecarlogresults-image
          - harbor.devportal.es/confidential/tekton:v1.6.0
          - -workingdirinit-image
          - harbor.devportal.es/confidential/tekton:v1.6.0
          - -shell-image
          - cgr.dev/chainguard/busybox@sha256:19f02276bf8dbdd62f069b922f10c65262cc34b710eea26ff928129a736be791
          - -shell-image-win
          - mcr.microsoft.com/powershell:nanoserver@sha256:b6d5ff841b78bdf2dfed7550000fd4f3437385b8fa686ec0f010be24777654d6
  - target:
      kind: Deployment
      name: tekton-pipelines-remote-resolvers
      namespace: tekton-pipelines
    patch: |-
      - op: replace
        path: /spec/template/spec/containers/0/args
        value:
          - -entrypoint-image
          - harbor.devportal.es/confidential/tekton:v1.6.0
          - -nop-image
          - harbor.devportal.es/confidential/tekton:v1.6.0
          - -sidecarlogresults-image
          - harbor.devportal.es/confidential/tekton:v1.6.0
          - -workingdirinit-image
          - harbor.devportal.es/confidential/tekton:v1.6.0
          - -shell-image
          - cgr.dev/chainguard/busybox@sha256:19f02276bf8dbdd62f069b922f10c65262cc34b710eea26ff928129a736be791
          - -shell-image-win
          - mcr.microsoft.com/powershell:nanoserver@sha256:b6d5ff841b78bdf2dfed7550000fd4f3437385b8fa686ec0f010be24777654d6
  - target:
      kind: ConfigMap
      name: config-defaults
      namespace: tekton-pipelines
    patch: |-
      - op: add
        path: /data/default-entrypoint-image
        value: "harbor.devportal.es/confidential/tekton:v1.6.0"
      - op: add
        path: /data/default-nop-image
        value: "harbor.devportal.es/confidential/tekton:v1.6.0"
      - op: add
        path: /data/default-shell-image
        value: "cgr.dev/chainguard/busybox@sha256:19f02276bf8dbdd62f069b922f10c65262cc34b710eea26ff928129a736be791"
      - op: add
        path: /data/default-shell-image-win
        value: "mcr.microsoft.com/powershell:nanoserver@sha256:b6d5ff841b78bdf2dfed7550000fd4f3437385b8fa686ec0f010be24777654d6"
      - op: add
        path: /data/default-sidecarlogresults-image
        value: "harbor.devportal.es/confidential/tekton:v1.6.0"
      - op: add
        path: /data/default-workingdirinit-image
        value: "harbor.devportal.es/confidential/tekton:v1.6.0"
